.Product {
  height: 320px;
  padding: 10px;
  margin-top: 50px;
}
.Product .wrapper-card {
  border: 1px solid #ddd;
  height: 100%;
  border-radius: 5px;
}
.Product img {
  height: 50%;
  width: 100%;
  margin-bottom: 10px;
}
.Product .wrapper-infor {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.wrapper-card:hover {
 box-shadow: 3px 3px 3px 3px #CCc;
}
.Product .wrapper-infor p {
  flex-grow: 1;
  width: 80%;
}

.Product .wrapper-infor a {
  width: 100px;
}